*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    background: linear-gradient(#364958,#55828B);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 25%; 
    border-radius: 10px;
    background-color: #3B6064;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

#formulario label {
    margin-bottom: 10px;
    color: white;
    
}

#formulario input {
    margin-bottom: 10px;
    background-color: #C9E4CA;
    border-color: #87BBA2;
    border-radius: 10px;
}

.material-symbols-outlined{
    position: relative;
    margin-right: 5px;
    top: 5px;
    color: rgb(187, 187, 187)
}

.field {
    text-indent: 10px;
}

#checkbox {
    width: 14px;
    margin-top: 10px;
    margin-left: 10px;
}

#tyc {
    position: relative;
    bottom: 25px;
    left: 40px;
    width: 80%;
    font-size: 14px;  
}

#tyc a {
    text-decoration: underline;
}

#enviar{
    width: 30%;
    height: 20px;
    margin: auto;
    border-radius: 10px;
}

#enviar input{
    text-indent: 0px;
}

a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
    text-align: center;
}

.btn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
}

#gbtn {
    background-color: white;
    color: black;
    margin-top: 10px;
}

#fbtn {
    background-color: rgb(38, 50, 118);
    color: white;
    position: relative;
    bottom: 10px;
}

.gicon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.fbicon {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

#Registrarse{
    font-size: 14px;
    text-align: center;
}

#Reg{
    text-decoration: underline;
}

#RecuperarContraseña{
    font-size: 14px;
    text-align: center;
}

#RecuperarContraseña a{
    text-decoration: underline;
}

/* Login exitoso */

#welcome {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    
}